@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

/* CSS Banner */
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/banner_profileedit.png);
    text-align: center;
}

.banner h1 {
    font-family: 'Vidaloka', serif;
}

.banner p {
    color: #8B6E4A;
}

/* CSS Bar */
.bar {
    background: #CFA877;
}

#nav li {
    list-style: none;
}

#nav a {
    text-decoration: none;
    color: #000;
}

.profile {
    background-color: #CF9142;
}

/* CSS Form */

form .btn-update {
    background-color: #fff;
    color: #FF6B6B;
    border: 2px solid #FF6B6B;
}

form .btn-submit {
    background: linear-gradient(91.47deg, #8b6e4a -4.66%, #ddb481 31.82%, #8c6e4a 76.06%, #d6ae7c 115.4%);
    color: #fff;
    border: none;
}