* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noticia {
    font-family: 'Noticia Text', serif;
}

.banner {
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
}

.banner-title {
    color: #171717;
    font-size: 2.70625em;
    font-family: "Vidaloka", serif;
}

.tab-links {
    font-size: 1.10625em;
    font-family: "Myanmar Sans Pro", sans-serif;
    text-decoration: none;
    margin: 0 .5em;
    color: #8B6E4A;
}

.item-name {
    color: #171717;
    font-size: 2.70625em;
    font-family: "Vidaloka", serif;
}

.wishlist {
    color: #8B6E4A;
    font-size: 2em;
}

.rating {
    color: #8B6E4A;
}

.item-details-text {
    font-family: "Open Sans", sans-serif;
}

.item-price {
    font-size: 1.60625em;
    color: #8B6E4A;
    font-family: "Open Sans", sans-serif;
}

.delivery {
    color: #8B6E4A;
}

.delivery-icon {
    font-size: 2.5em;
}

.delivery-text {
    font-size: 1.10625em;
    font-family: "Open Sans", sans-serif;
}

.delivery-label {
    font-weight: bold;
    font-size: 1.40625em;
    font-family: "Open Sans", sans-serif;
}

.add-to-cart {
    background: linear-gradient(to right, #cca676, #cca676, #7f6749, #cca676, #cca676);
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.share-button {
    font-size: 1.40625em;
    background-color: #F7F7F7;
    color: #8B6E4A;
    width: auto;
}

.related-flowers-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #8B6E4A;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
}

.related-flowers .item-image {
    background-image: url("../img/item.png");
    background-position: center;
    background-size: cover;
    height: 20em;
}

.item-image {
    position: relative;
}

.content-seller {
    margin: 1.5em;
}

.related-flowers button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    background: linear-gradient(to right, #cca676, #cca676, #7f6749, #cca676, #cca676);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transform: translateX();
    -moz-transform: translateX();
    -ms-transform: translateX();
    -o-transform: translateX();
}

.item-details h3 {
    margin-top: 1.5rem;
    font-weight: bold;
    font-family: 'Vidaloka', serif;
    color: #8B6E4A;
}

.item-details p {
    font-family: 'Open Sans', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#quantity-up #quantity-down {
    background-color: #F7F7F7;
    color: #8B6E4A;
    font-size: 1.40625em;
    width: auto;
}

.item-sell {
    padding: 1em;
}

.img-item .addcart {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #7f6749, #cca676, #7f6749, #cca676);
    font-size: 15px;
    bottom: 3%;
    border-radius: 5px;
    width: 22em;
    padding: 5px 0;
}

.img-item .sold-out {
    text-decoration: none;
    color: white;
    background-color: #B1B1B1;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px 0;
    width: 5em;
    height: 5em;
}

.info-item a {
    text-decoration: none;
    color: #8B6E4A;
    font-size: 25px;
    font-family: 'Vidaloka', serif;
}

.info-item p {
    font-size: 16px;
}

.real-title {
    font-family: sans-serif;
    font-size: 25px;
    color: #8B6E4A;
    font-weight: 600;
}

.addcart-bestseller {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #7f6749, #cca676, #7f6749, #cca676);
    font-size: 15px;
    bottom: 3%;
    border-radius: 5px;
    width: 18em;
    padding: 5px 0;
}