.banner {
    font-family: 'Noticia Text', serif;
    color: #8B6E4A;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-background {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slogan1 {
    font-size: 2.40625em;
}

#slogan2 {
    opacity: 0.54;
}

.banner .banner-text button {
    background: linear-gradient(to right, #7f6749, #cca676, #7f6749, #cca676);
    border: none;
    border-radius: 5px;
    padding: .5em 3rem;
    font-size: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1.3rem;
    margin-bottom: 2rem;
}
.new-release-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #8B6E4A;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
}
.new-release button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    background: linear-gradient(to right, #cca676, #cca676, #7f6749, #cca676, #cca676);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transform: translateX();
    -moz-transform: translateX();
    -ms-transform: translateX();
    -o-transform: translateX();
}
.best-seller button {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    background: linear-gradient(to right, #cca676, #cca676, #7f6749, #cca676, #cca676);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transform: translateX();
    -moz-transform: translateX();
    -ms-transform: translateX();
    -o-transform: translateX();
}

.item-details h3 {
    margin-top: 1.5rem;
    font-weight: bold;
    font-family: 'Vidaloka', serif;
    color: #8B6E4A;
}

.item-details p {
    font-family: 'Open Sans', sans-serif;
}

.new-release .item-image {
    background-image: url("../img/item.png");
    background-position: center;
    background-size: cover;
    height: 25em;
}
.best-seller .item-image {
    background-image: url("../img/item.png");
    background-position: center;
    background-size: cover;
    height: 18em;
}
.item-image {
    position: relative;
}

.content-seller{
    margin: 1.5em;
}
.subscribe{
    background-image: url("../img/subscribe.png");
    background-size: cover;
}
.subscribe-text h2{
    font-family: 'Josefin Sans', sans-serif;
    color:#CFA877;
    font-weight: bold;
    font-size: 1.8em;
}
.subscribe-text p{
    font-family: 'Josefin Sans', sans-serif;
}
.subscribe button{
    color:#ffffff;
    background-color: #CFA877;
}